<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>An Homage to Quentin Tarantino</title>

                      <!-- public/styles/styles.css -->
    <link rel="stylesheet" href="/styles/styles.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><img src="images/logo.png"></li>
            <li><a href="/movies">Movie Gallery</a></li>
            <li>Symmetrical Link</li>
        </ul>
    </nav>

    <video playsinline autoplay muted loop id="bgvid">
        <source src="video/django.mp4" type="video/mp4">
    </video>
    <div class="content">
        <h1>An Homage to Quentin Tarantino</h1>

        <p>When it comes to Tarantino, the first thing that pops up is his writing. Another writer I admire is Kevin Smith. But unlike Tarantino, his work is admired more through reading than watching.
        </p>
        <p>
        That's what sets apart Tarantino from the rest, his screenplays. He does not adhere to any Hollywood convention, such as a linear narrative or the conversational styled dialogues.
        </p>
        <p>
        Unlike other recent director of the indie renaissance, his films are character driven and not plot driven. That is, his films are more about the characters and the situations they face and not a story with characters.
        </p>
        <p>
        And another trademark of Tarantino's films that most people overlook are his references. Time and time again, he keeps reminding us that he is a movie geek. And that is proven with every single scene in every movie of his. There would be a reference to some B grade movie or a Korean movie of the 60's, you probably wouldn't have even heard of. That's just him channeling his love for cinema.
        </p>
        <p><em>- From a Quora Reply</em></p>
    </div>
  </body>
</html>
