<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>An Homage to Quentin Tarantino</title>

                      <!-- public/styles/styles.css -->
    <link rel="stylesheet" href="/styles/styles.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">



  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><img src="images/logo.png"></li>
            <li><a href="/movies">Movie Gallery</a></li>
            <li>Symmetrical Link</li>
        </ul>
    </nav>

    <h1 class="hi">Tarantino's Filmography</h1>
    <div class="movie">
        <img src="images/hateful.jpg">
        <h2>The Hateful Eight</h2>
        <p>In the dead of a Wyoming winter, a bounty hunter and his prisoner find shelter in a cabin currently inhabited by a collection of nefarious characters.</p>
    </div>
    <div class="movie">
        <img src="images/django.jpg">
        <h2>Django Unchained</h2>
        <p>With the help of a German bounty hunter, a freed slave sets out to rescue his wife from a brutal Mississippi plantation owner.</p>
    </div>
    <div class="movie">
        <img src="images/inglory.jpg">
        <h2>Inglorious Basterds</h2>
        <p>In Nazi-occupied France during World War II, a plan to assassinate Nazi leaders by a group of Jewish U.S. soldiers coincides with a theatre owner's vengeful plans for the same.</p>
    </div>
    <div class="movie">
        <img src="images/killbill.jpg">
        <h2>Kill Bill</h2>
        <p>The Bride must kill her ex-boss and lover Bill who betrayed her at her wedding ceremony, shot her in the head and took away her unborn daughter. But first, she must make the other four members of the Deadly Viper Assassination Squad suffer.</p>
    </div>
    <div class="movie">
        <img src="images/deathproof.jpg">
        <h2>Deathproof</h2>
        <p>Two separate sets of voluptuous women are stalked at different times by a scarred stuntman who uses his "death proof" cars to execute his murderous plans.</p>
    </div>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
